/* -----------------------------------------------------------------------
    error 404 layout
------------------------------------------------------------------------- */

/*  error 404 - variables */

$error-404-paragraph-font-color: $secondary-font-color;
$error-404-paragraph-font-size-smaller: rem-calc(20);
$error-404-paragraph-font-size-small: rem-calc(40);
$error-404-paragraph-font-size-medium: rem-calc(60);

$error-404-header-font-size-small: rem-calc(100);
$error-404-header-font-size-medium: rem-calc(120);

$error-404-link-color: $secondary-link-color;
$error-404-link-bg-color: lighten($quaternary-page-bg, 5%);
$error-404-link-font-size-smaller: rem-calc(10);
$error-404-link-font-size-small: rem-calc(20);
$error-404-link-font-size-medium: rem-calc(30);
$error-404-link-font-size-large: rem-calc(40);
$error-404-link-focus-font-size-smaller: rem-calc(12);
$error-404-link-focus-font-size-small: rem-calc(22);
$error-404-link-focus-font-size-medium: rem-calc(32);
$error-404-link-focus-font-size-large: rem-calc(42);


/*  error 404 - mixins */

@mixin error-404-link-styles {
  background-color: $error-404-link-bg-color;
  color: $error-404-link-color;
  font-style: bold;
  border: 4px solid $blue-border;
  border-radius: 30px;
  text-decoration: none; 
}

@mixin error-404-link-focus-styles {
  background-color: darken($secondary-link-color, 20%);
  border: 4px solid lighten($blue-border, 10%);
  border-radius: 42px;
  color: #f5ad1d;
}


/* error 404 - layout */

.error-404 {
  margin: rem-calc(60) auto 0;

  @include breakpoint(medium up) {
    margin: rem-calc(100) auto 0;    
  }

  > h1 {
    font-size: $error-404-header-font-size-small;
    margin: 0 0 rem-calc(-30) !important;
    text-align: center;  

    @include breakpoint(medium up) {
      font-size: $error-404-header-font-size-medium;
      margin: 0 0 rem-calc(-100) !important;
    }
  }

  > p {
    color: $error-404-paragraph-font-color;
    font-size: $error-404-paragraph-font-size-smaller;
    text-align: center;    

    @include breakpoint(small) {
    font-size: $error-404-paragraph-font-size-small;      
    }

    @include breakpoint(medium up) {
      font-size: $error-404-paragraph-font-size-medium;
      // margin: 0 0 rem-calc(40);
    }
  }

  > div {
    margin: rem-calc(100) 0 rem-calc(130);
    text-align: center;

    @include breakpoint(medium up) {
      margin: rem-calc(120) 0 rem-calc(200);     
    }

     > a {
      @include error-404-link-styles;
      padding: rem-calc(20) rem-calc(0);
      font-size: $error-404-link-font-size-smaller;

      @include breakpoint(small) {
        padding: rem-calc(20) rem-calc(16);
        font-size: $error-404-link-font-size-small;        
      }

      @include breakpoint(medium) {
        padding: rem-calc(30) rem-calc(50);
        font-size: $error-404-link-font-size-medium;
      }

      @include breakpoint(large up) {
        padding: rem-calc(40) rem-calc(60);
        font-size: $error-404-link-font-size-large;
      }

      &:hover,
      &:focus {
        @include error-404-link-focus-styles;
        font-size: $error-404-link-focus-font-size-smaller;          
        padding: rem-calc(21) rem-calc(0);

        @include breakpoint(small) {
          font-size: $error-404-link-focus-font-size-small;          
          padding: rem-calc(21) rem-calc(18);
        }

        @include breakpoint(medium) {
        font-size: $error-404-link-focus-font-size-medium;
        padding: rem-calc(31) rem-calc(51);
        }
          
        @include breakpoint(large up) {
        font-size: $error-404-link-focus-font-size-large;
        padding: rem-calc(41) rem-calc(61); 
        }
      }
    }
  }
}
