<!-- HEADER-START -->
<header>
  <div class="row row-logo">
    <div class="small-10 small-centered medium-10 large-10 columns">
      <img class="logo" src="{{root}}assets/img/logo_elements_of_healing_210518.png" alt="logo for elements of healing">
    </div>
  </div>

  <div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-button" type="button" data-toggle>Menu</button>
    </span>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="nav-bar dropdown menu" data-dropdown-menu>
        <li class=""><a href="{{root}}/">Home Page</a></li>
        <li class=""><a href="#">Homeopathy</a>
          <ul class="nav-bar menu vertical">
            <li><a href="{{root}}/what-is-homeopathy.html">What is Homeopathy?</a></li>
            <li><a href="{{root}}/consultation.html">The Consultation</a></li>
            <li><a href="{{root}}/healing-process.html">The Healing Process</a></li>
            <li><a href="{{root}}/kingdom-method.html">The Kingdom Method</a></li>
            <li><a href="{{root}}/homeopathy-questions.html">Questions & Answers</a></li>
            <!-- <li><a href="{{root}}/error-404.html">Error</a></li> -->
          </ul>
        </li>
        <li class=""><a href="#">Reiki</a>
          <ul class="nav-bar menu vertical">
            <li class="divider"></li>
            <li><a href="{{root}}/what-is-reiki.html">What is Reiki?</a></li>
            <li><a href="{{root}}/reiki-treatments.html">Reiki Treatments</a></li>
            <li><a href="{{root}}/elemental-healing.html">Elemental Healing</a></li>
            <li><a href="{{root}}/reiki-questions.html">Questions & Answers</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="nav-bar menu">
        <li><a href="{{root}}/about-thomas.html">About Thomas</a></li>
        <li><a href="{{root}}/contact-details.html">Contact Details</a></li>
      </ul>
    </div>
  </div>
</div>
</header>
<!-- HEADER-END -->