<!-- HOMEOPATHY-BANNER-START -->
<div class="row row-banner-homeopathy collapse">
  <div class="small-12 medium-12 large-12 columns">

    <div id="fadein-panel" class="fadein-panel">

      <div class="row">
        <div class="small-11 small-centered medium-11 large-11 columns">

          <h1>Homeopathy In Reigate</h1>

          <p>Is a natural system of healing</p>

          <p>Stimulates the body to heal itself</p>

          <p>Is free from chemical side effects</p>

          <p>Improves physical wellbeing</p>

          <p>Treats the whole person</p>

        </div><!-- column -->
      </div><!-- row -->

    </div> <!-- fadein-panel end -->

  </div><!-- column -->
</div><!-- row -->
<!-- HOMEOPATHY-BANNER-END -->