<!-- MAIN-BANNER-START -->
<div class="row row-banner-main collapse">
  <div class="small-12 medium-12 large-12 columns">

    <div id="fadein-panel" class="fadein-panel">

      <div class="row">
        <div class="small-11 medium-11 large-11 columns">
  
          <p>Receive guidance & direction</p>

          <p>Reduce stress & anxiety</p>

          <p>Increase general health & vitality</p>

          <p>Improve emotional wellbeing</p>

          <p>Heal physical problems</p>

        </div><!-- column -->
      </div><!-- row -->

    </div><!-- fadein-panel end -->

  </div><!-- column -->
</div><!-- row -->
<!-- MAIN-BANNER-END -->
