<!-- REIKI-FOOTER-START -->
<footer>
  <div class="row row-footer collapse">
    <div class="small-12 medium-12 large-12 columns">
      <ul class="footer-nav">
        <li><a href="#">Top of Page</a></li>
        <li><a href="{{root}}/">Home Page</a></li>
        <li><a href="{{root}}/reiki-questions">FAQ</a></li>
        <li><a href="{{root}}/contact">Contact</a></li>
      </ul>
    </div><!-- columns -->
  </div><!-- row -->
  
  <div class="row row-logo">
    <div class="small-8 small-centered medium-8 large-6 columns">
      <img class="footer-logo" src="{{root}}assets/img/logo_elements_of_healing_210518.png" alt="elements of healing footer image">
    </div><!-- columns -->
  </div><!-- row -->

  <div class="row row-copyright">
    <div class="small-12 small-centered medium-5 medium-centered large-4 large-centered columns">
      <p class="footer-copyright">Copyright &copy; Elements of Healing 2011 - <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
    </div><!-- columns -->
  </div><!-- row -->
</footer>
<!-- REIKI-FOOTER-END -->