<!-- REIKI-BANNER-START -->
<div class="row row-banner-reiki collapse">
  <div class="small-12 medium-12 large-12 columns">

    <div id="fadein-panel" class="fadein-panel">

      <div class="row">
        <div class="small-11 small-centered medium-11 large-11 columns">

          <h1>Reiki In Reigate</h1>

          <p>Is natural, gentle & effective</p>

          <p>Stimulates the body to heal itself</p>

          <p>Increases general health & vitality</p>

          <p>Improves emotional wellbeing</p>

          <p>Reduces anxiety & stress</p>

        </div><!-- columns -->
      </div><!-- row -->

    </div><!-- fadein-panel end -->

  </div><!-- columns -->
</div><!-- row -->
<!-- REIKI-BANNER-END -->